* {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
            line-height: 1.6;
            overflow-x: hidden;
            background-color: #FFFFFF;
            margin: 0;
        }

        /* Nav.1 */
.Navigation {
    width: 100%;
    line-height: 1.6;
    background-color: #253443;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.nav-bar {
    display: flex;
    align-items: center;
    padding: 0 30px; 
    position: relative;
    height: 70px;
}

#logo {
    width: 50px;
    margin-right: 20px; 
}

#toggle {
    display: none;
}

.toggler {
    display: none;
    font-size: 25px;
    color: #ffffff;
}

.nav {
    width: 100%;
    display: flex;
    list-style: none;
    transition: 0.4s ease;
    align-items: center;

}

.nav-item {
    position: relative; 
}

.nav-item a {
    text-decoration: none;
    color: #ffffff;
    padding: 0 18px;
    transition: 0.4s ease; 
    height:60px;
    display: flex;
    align-items: center;
    font-size: 15px; 
}
.active > a {
    color: #ece956;
}
.nav-item.active > a .fa-sort-down {
    color: #ece956 !important;
}

.nav-item:hover {
    transform: translateY(-2px);
    transition: 0.5s ease;
}
.dropdown-content {
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #25415e;
    list-style: none;
    display: none;
    margin: 0;
    padding: 5px 0;
    width: 250px;
    z-index: 10;
    transition: 0.5s ease;
}

.dropdown-content li a {
    padding: 10px 15px;
    font-size: 12px; 
    color: #d8f3dc;
    transition: 0.3s ease;
    display: block;
}

.dropdown-content li:hover {
    background-color: #171b22;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.social {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.fa {
    font-size: 16px;
    text-decoration: none;
    color: #ecf5ee;
    transition: 0.3s ease;
    padding: 10px;
}

.fa:hover {
    color: #ece956;
    transform: scale(1.05);
}

.fa-sort-down {
    position: relative;
    top: -2px;
    color: white;
    padding: 0 0 0 6px;
    font-size: 12px;
}
/* Nav.1 end */
        .smart-soluttions, .cards-container, .modern {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            box-sizing: border-box;
        }

         /* Hero Section */
        .hero {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 20px 0;
            height: 60vh;
            background: linear-gradient(to right, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.5)),
            url("https://www.beesmart.city/hubfs/04-insights/07-blog-posts-solutions/covid-19-rethinking-smart-waste-management/pneumatic-waste-collection-in-smart-cities-marimatic-metro-taifun.jpg");
            background-size: cover;
            background-position: center;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 20px -20px;
        }

        .hero-text {
            width: 90%;
            margin: auto;
        }
        .hero-text h1 {
            font-size: 42px;
            color: #ffffff;
            margin-bottom: 10px;
        }

        .hero-text h2 {
            font-size: 30px;
            color: #ece956;
            margin-bottom: 20px;
        }

        .hero-text p {
            font-size: 18px;
            color: #ffffff;
            margin-bottom: 30px;
        }



        /* Smart Solutions Section */
        .smart-soluttions {
            width: 90%;
            margin: 0 auto; 
            padding-left: 5px;
            padding-right: 5px;
            box-sizing: border-box;
        }

       

        .smart-soluttions h1, .modern h1 {
            color: #FFFFFF;
            background-color: #253443;
            padding: 10px 15px;
            display: inline-block;
            margin-bottom: 20px;
            border-radius: 5px;
        }

        .smart-soluttions h4 {
            color: #253443;
            margin-top: 10px;
        }



        /* Modern Tech */
        .modern {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }

        .intro {
            font-weight: bold;
            color: #253443;
            margin-bottom: 20px;
        }

        .cards-container {
            width: 100%;
            text-align: center;
        }




        /* Modern Tech & Global Smart Cities*/
        .card {
            width: 22%;
            display: inline-block;
            height: 350px;
            overflow: hidden;
            background-color: #253443;
            border-radius: 5px;
            margin: 10px 1%; 
            padding: 15px;
            transition: 0.3s;
            text-align: center;
        }

        .card:hover {
            transform: scale(1.03);
        }

        .card img {
            width: 50%;
            border-radius: 5px;
            margin: 15px 0;
        }

        .card h2 {
            color: #ece956;
            font-size: 20px;
            margin-bottom: 10px;
        }

        .card p {
            color: rgb(236, 236, 236);
            font-size: 14px;
        }




        /*  Key Solutions */
        .magazine-row {
            width: 100%;
            margin-bottom: 30px;
            background-color: #ffffff;
            border-bottom: 1px solid #253443;
            padding-bottom: 20px;
        }
        
        .magazine-media {
            width: 30%;
            display: inline-block;
            vertical-align: middle;
        }

        .magazine-media img {
            width: 100%;
            height: 180px;
            border-radius: 5px;
        }

        .magazine-content {
            width: 65%;
            display: inline-block;
            vertical-align: middle;
            padding: 0 20px;
            text-align: left;
        }

        .magazine-content h2 {
            color: #253443;
            margin-bottom: 10px;
            font-size: 24px;
        }

        .magazine-content p {
            color: #555;
            font-size: 16px;
        }



        /*Lessons for Yangon*/
        .strip-row {
            width: 100%;
            position: relative;
            background-color: #253443;
            margin: 15px 0;
            padding: 25px;
            border-radius: 5px;
            text-align: left;
            color: #ffffff;
            transition: background-color 0.3s ease;
        }
        .strip-row:hover{
            background-color: #3e5871;
        }

        .strip-row img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            display: inline-block;
            vertical-align: middle;
            margin-right: 20px;
            border: 2px solid #ece956;
        }

        .strip-text-container {
            display: inline-block;
            vertical-align: middle;
            width: 85%;
        }

        .strip-row h2 {
            color: #ece956;
            font-size: 22px;
            margin-bottom: 5px;
        }

        .strip-row p {
            color: #ffffff;
            font-size: 15px;
        }
        .strip-row a{
            padding: 13px 25px;
            background-color: white;
            color: #253443;
            position: absolute;
            top: 38px;
            right: 25px;
            text-decoration: none;
            border-radius: 34px;
            transition: transform 0.4s ease;
        }
        .strip-row a:hover{
            background-color: #ece956;
            transform: scale(1.05);
        }
        /* FOOTER */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.footer{
    background:#253443;
    color:#dcdddc;
    padding:50px 30px;
    margin-top: auto; 
}

.footer-container{
    overflow:hidden;
    margin: 0 auto;
    
}

.footer-logo{
    width:20%;
    float:left;
    
}

.footer-logo h2{
    color:#ece956;
    font-size: 20px;
    margin-bottom:10px;
}

.footer-logo p{
    font-size:12px;
}

.footer-links{
    width:60%;
    float:left;
    padding: 0 50px;
}

.footer-links h3{
    color:white;
    font-size: 16px;
    margin-bottom:15px;
}

.links-grid{
    overflow:hidden;
}

.links-grid div{
     width: 32.33%; 
    float:left;
    margin: 0.5%; 
}

.links-grid ul{
    list-style:none;
    padding:0;
}

.links-grid a{
    display:block;
    color:white;
    text-decoration:none;
    font-size:15px;
    padding:8px 0;
    transition:0.3s ease;
}

.links-grid a:hover{
    padding-left:5px;
}

.links-grid li{
    margin-bottom:5px;
}

.footer-social{
    width:20%;
    float:left;
    text-align:center;
}

.footer-social h3{
    color:white;
    font-size: 16px;
    margin-bottom:15px;
}

.social-icon{
    color:white;
    text-decoration:none;
    font-size:18px;
    margin:8px;
    transition:0.3s;
}

.social-icon:hover{
    color:#ece956;
}

.footer hr{
    border:none;
    border-top:1px solid rgba(255,255,255,0.1);
    margin:30px 0;
}

.copy-text{
    text-align:center;
    font-size:12px;
    padding-bottom:10px ;
}

/* back to top */
  #backtotop {
    z-index: 1;
    position: fixed;
    right: 10px;
    bottom: 10px;
    animation: enlarge 1s linear infinite alternate;
        }

        @keyframes enlarge {
            0% {
                transform: scale(1.0);
            }
            50% {
                transform: scale(1.1);
            }
            100% {
                transform: scale(1.2);
            }
        }

        /* Tablets*/
@media screen and (max-width: 1400px) {
    .nav-bar{
        padding: 10px 20px;
        flex-wrap: wrap;
        height: auto;
    }

    .toggler{
        display: block;
        margin-left: auto;

    }

    .nav{
        width: 100%;
        display: none;
        flex-direction: column;
        background: #253443;
        margin-top: 10px;
        height: auto;
        align-items: flex-start;
    }

    #toggle:checked ~ .nav{
        display: flex;
    }

    .nav-item{
        width: 100%;
    }

    .nav-item a{
        padding: 15px 20px;
        height: auto;
    }

    .dropdown-content{
        position: static;
        width: 100%;
        display: none;
        background: #25415e;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .social{
        width: 100%;
        justify-content: flex-start;
        margin-top: 15px;
    }

    .footer-logo,
    .footer-links,
    .footer-social{
        width: 100%;
        float: none;
        text-align: left;
        margin-bottom: 30px;
    }

    .links-grid div{
        width: 50%;
        margin: 1px;
    }
    .card {
        height: 410px;
        width: 79%; 
        margin: 10px 2%;
    }
    .magazine-media {
        width: 40%;
    }
    .magazine-content {
        width: 55%;
    }
    .strip-row {
        text-align: center;
        padding-bottom: 90px;
    }

    .strip-row img {
        display: block;
        margin: 0 auto 15px auto;
    }

    .strip-text-container {
        width: 100%;
        text-align: center;
    }

    /* Responsive button */
    .strip-row a {
        position: static;
        display: inline-block;
        margin-top: 20px;
        padding: 12px 24px;
    }
}

        /* Mobile Phones */
@media screen and (max-width: 600px) {
    
    .hero-text h1 { font-size: 30px; }
    .hero-text h2 { font-size: 20px; }
    .hero-text p { font-size: 15px; }

   
    .card {
        width: 96%; 
        margin: 10px 2%;
        height: auto;
        padding-bottom: 25px;
    }
    
    .magazine-media, .magazine-content {
        width: 100%; 
        display: block;
        padding: 10px 0;
    }
    
    .strip-row img {
        display: block;
        margin: 0 auto 15px auto; 
    }
    
    .strip-text-container {
        width: 100%;
        text-align: center; 
    }
}

